<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trainers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a th:href="@{/employees}" class="navbar-brand p-1">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a th:href="@{/authorities}" class="nav-link">Authorities</a>
        <a th:href="@{/experiences}" class="nav-link">Experiences</a>
        <a th:href="@{/feedbacks}" class="nav-link">Feedbacks</a>
        <a th:href="@{/roles}" class="nav-link">Roles</a>
        <a th:href="@{/studies}" class="nav-link">Studies</a>
        <a th:href="@{/trainers}" class="nav-link">Trainers</a>
        <a th:href="@{/users}" class="nav-link">Users</a>
      </div>
    </div>
  </nav>
</header>
<main class="my-1 mx-auto text-left main-container">
  <h3>Trainers</h3>
  <a th:href="@{/trainers/save}" class="btn btn-primary my-1">Save</a>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Employment type</th>
      <th>Position</th>
      <th>Grade</th>
      <th>Salary</th>
      <th>Hire Date</th>
      <th>Supervising Trainer</th>
      <th>Nr. Trainees</th>
      <th>Max Trainees</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trainer : ${trainers}">
      <td>[[${trainer.name}]]</td>
      <td>[[${trainer.email}]]</td>
      <td>[[${trainer.mobile}]]</td>
      <td>[[${trainer.address}]]</td>
      <td>[[${trainer.employmentType}]]</td>
      <td>[[${trainer.position}]]</td>
      <td>[[${trainer.grade}]]</td>
      <td>[[${trainer.salary}]]</td>
      <td>[[${trainer.hiredAt}]]</td>
      <td>[[${trainer.supervisingTrainer != null ? trainer.supervisingTrainer.name : 'No trainer'}]]</td>
      <td>[[${trainer.nrTrainees}]]</td>
      <td>[[${trainer.maxTrainees}]]</td>
      <td>
        <a th:href="@{'/trainers/update/' + ${trainer.id}}" class="btn btn-secondary">Update</a>
        <a th:href="@{'/trainers/disable/' + ${trainer.id}}" class="btn btn-danger">Remove</a>
        <a th:href="@{'/trainers/' + ${trainer.id}}" class="btn btn-info">View details</a>
      </td>
    </tr>
    </tbody>
  </table>
</main>
<footer class="text-center text-lg-start bg-dark position-absolute fixed-bottom">
  <div class="text-white p-3">[[${#dates.year(#dates.createNow())}]] - George Bacalu</div>
</footer>
</body>
</html>