<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>[[${id == -1 ? 'Save' : 'Update'}]] Employee</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a th:href="@{/employees}" class="navbar-brand p-1">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a th:href="@{/authorities}" class="nav-link">Authorities</a>
        <a th:href="@{/experiences}" class="nav-link">Experiences</a>
        <a th:href="@{/feedbacks}" class="nav-link">Feedbacks</a>
        <a th:href="@{/roles}" class="nav-link">Roles</a>
        <a th:href="@{/studies}" class="nav-link">Studies</a>
        <a th:href="@{/trainers}" class="nav-link">Trainers</a>
        <a th:href="@{/users}" class="nav-link">Users</a>
      </div>
    </div>
  </nav>
</header>
<main class="container my-1">
  <div class="card px-3">
    <h3 class="text-center">[[${id == -1 ? 'Save' : 'Update'}]] Employee</h3>
    <div class="card-body">
      <form th:action="@{'/employees/save/' + ${id}}" method="post" th:object="${employeeDto}">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="name">Name <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="name" th:field="*{name}" placeholder="Enter name" class="form-control" required>
            <label for="email" class="mt-2">Email <span class="text-danger font-weight-bold">*</span></label>
            <input type="email" id="email" th:field="*{email}" placeholder="Enter email" class="form-control" required>
            <label for="password" class="mt-2">Password <span class="text-danger font-weight-bold">*</span></label>
            <input type="password" id="password" th:field="*{password}" placeholder="Enter password" class="form-control" required>
            <label for="mobile" class="mt-2">Mobile <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="mobile" th:field="*{mobile}" placeholder="Enter mobile" class="form-control" required>
            <label for="address" class="mt-2">Address <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="address" th:field="*{address}" placeholder="Enter address" class="form-control" required>
            <label for="birthday" class="mt-2">Birthday <span class="text-danger font-weight-bold">*</span></label>
            <input type="date" id="birthday" th:field="*{birthday}" placeholder="Enter birthday" class="form-control" required>
            <label for="role-id" class="mt-2">Role ID <span class="text-danger font-weight-bold">*</span></label>
            <input type="number" id="role-id" th:field="*{roleId}" placeholder="Enter role ID" class="form-control" required>
            <label for="authorities-ids" class="mt-2">Authorities IDs <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="authorities-ids" th:field="*{authoritiesIds}" placeholder="Enter authorities IDs" class="form-control" required>
          </div>
          <div class="col-md-6 form-group">
            <label for="employment-type">Employment type <span class="text-danger font-weight-bold">*</span></label>
            <select name="employment-type" id="employment-type" th:field="*{employmentType}" class="custom-select form-control" required>
              <option value="" hidden>--Choose employment type--</option>
              <option th:each="type : ${T(com.project.ems.employee.enums.EmploymentType).values()}" th:value="${type}">[[${type}]]</option>
            </select>
            <label for="position" class="mt-2">Position <span class="text-danger font-weight-bold">*</span></label>
            <select name="position" id="position" th:field="*{position}" class="custom-select form-control" required>
              <option value="" hidden>--Choose position--</option>
              <option th:each="position : ${T(com.project.ems.employee.enums.Position).values()}" th:value="${position}">[[${position}]]</option>
            </select>
            <label for="grade" class="mt-2">Grade <span class="text-danger font-weight-bold">*</span></label>
            <select name="grade" id="grade" th:field="*{grade}" class="custom-select form-control" required>
              <option value="" hidden>--Choose grade--</option>
              <option th:each="grade : ${T(com.project.ems.employee.enums.Grade).values()}" th:value="${grade}">[[${grade}]]</option>
            </select>
            <label for="salary" class="mt-2">Salary <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="salary" th:field="*{salary}" placeholder="Enter salary" class="form-control" required>
            <label for="hire-date" class="mt-2">Hire date <span class="text-danger font-weight-bold">*</span></label>
            <input type="date" id="hire-date" th:field="*{hiredAt}" placeholder="Enter hire date" class="form-control" required>
            <label for="studies-ids" class="mt-2">Studies IDs <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="studies-ids" th:field="*{studiesIds}" placeholder="Enter studies IDs" class="form-control" required>
            <label for="experiences-ids" class="mt-2">Experiences IDs <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="experiences-ids" th:field="*{experiencesIds}" placeholder="Enter experiences IDs" class="form-control" required>
            <label for="trainer-id" class="mt-2">Trainer ID <span class="text-danger font-weight-bold">*</span></label>
            <input type="number" id="trainer-id" th:field="*{trainerId}" placeholder="Enter trainer ID" class="form-control" required>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-container">[[${id == -1 ? 'Save' : 'Update'}]]</button>
        <a th:href="@{/employees}" type="button" class="btn btn-danger btn-container ml-2">Cancel</a>
      </form>
    </div>
  </div>
</main>
<footer class="text-center text-lg-start bg-dark position-absolute fixed-bottom">
  <div class="text-white p-3">[[${#dates.year(#dates.createNow())}]] - George Bacalu</div>
</footer>
</body>
</html>