.main-container {
    width: 98%;
}

.btn-container {
    width: 15%;
}

.details {
    font-size: 14px;
    line-height: 0.9;
}

.thead-link, .thead-link:hover {
    color: white;
}

.thead-link:hover {
    text-decoration: none;
}