<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Save Role</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a th:href="@{/employees}" class="navbar-brand p-1">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a th:href="@{/authorities}" class="nav-link">Authorities</a>
        <a th:href="@{/experiences}" class="nav-link">Experiences</a>
        <a th:href="@{/feedbacks}" class="nav-link">Feedbacks</a>
        <a th:href="@{/roles}" class="nav-link">Roles</a>
        <a th:href="@{/studies}" class="nav-link">Studies</a>
        <a th:href="@{/trainers}" class="nav-link">Trainers</a>
        <a th:href="@{/users}" class="nav-link">Users</a>
      </div>
    </div>
  </nav>
</header>
<main class="container my-1">
  <div class="card px-3">
    <h3 class="text-center">Save Role</h3>
    <div class="card-body">
      <form th:action="@{/roles/save}" method="post" th:object="${roleDto}">
        <div class="row mb-3">
          <label for="type">Role type <span class="text-danger font-weight-bold">*</span></label>
          <select name="type" id="type" th:field="*{type}" class="custom-select form-control" required>
            <option value="" hidden>--Choose role type--</option>
            <option th:each="type : ${T(com.project.ems.role.enums.RoleType).values()}" th:value="${type}">[[${type}]]</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success btn-container">Save</button>
        <a th:href="@{/roles}" type="button" class="btn btn-danger btn-container ml-2">Cancel</a>
      </form>
    </div>
  </div>
</main>
<footer class="text-center text-lg-start bg-dark position-absolute fixed-bottom">
  <div class="text-white p-3">[[${#dates.year(#dates.createNow())}]] - George Bacalu</div>
</footer>
</body>
</html>